.buildpath
.project
.settings
target
.settings/*
!.settings/.jsdtscope
.classpath
php/cache_cp/05b17909f3f4dca6b60a473bcb0bc5dd589e2d7c.file.standard.tpl.php
php/cache_cp/05b17909f3f4dca6b60a473bcb0bc5dd589e2d7c.file.standard.tpl.php
php/cache_cp/564d03ff7298cbcb37952f06897bec7fd52d4077.file.navigation.tpl.php
php/cache_cp/6663911fe5dae2ea682434f51c2eb6cc361cccc6.file.index.tpl.php
