{% include 'layouts/navigation.html' %}
<!-- MAIN PANEL -->
<div id="main" role="main">
	<!-- RIBBON -->
	<div id="ribbon">
		<span class="ribbon-button-alignment"> <span id="refresh" class="btn btn-ribbon" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true"><i class="fa fa-refresh"></i></span>
		</span>
		<!-- breadcrumb -->
		<ol class="breadcrumb">
			<li>{% if _parameters.0 != '' %} <a href="/module/product_technology"><span>Produkt i technologia</span></a> {% elseif _parameters.0 == '' %} <span>Produkt i technologia</span> {% endif %}
			</li>
			<li>{% if _parameters.0 == 'product' %} <span>Produkt</span> {% elseif _parameters.0 == 'technology' %} <span>Technologia</span> {% elseif _parameters.0 == '' %} {% endif %}
			</li>
		</ol>
		<!-- end breadcrumb -->
		<!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->
	</div>
	<!-- END RIBBON -->
	<!-- MAIN CONTENT -->
	<div id="content">
		{% if _parameters.0 == 'product' %} {% if _parameters.1 == 'page' %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Produkt...</h3>
			</div>
			<div class="panel-body">
				<p>Aenean et nunc pulvinar, ornare nisl nec, tempor elit. Aliquam erat volutpat. Vivamus ac ornare nunc. Ut vestibulum sem a accumsan vehicula. Vestibulum nec ultrices mi, ut rutrum elit. Nunc cursus ultricies commodo.</p>
				<p>Zawsze istnieje możliwość wyszukania nazwy produktu</p>
				<div class="col-lg-6">
					<form role="form" method="post" action="/module/product_technology/product/search">
						<div class="input-group">
							<input type="text" class="form-control" id="number" placeholder="Wprowadź numer" name="number"> <span class="input-group-btn">
								<button class="btn btn-default" type="submit">Szukaj ...</button>
							</span>
						</div>
					</form>
				</div>
				<div class="col-lg-6">
					<a href="/module/product_technology/product/add/1" class="btn btn-default">Dodaj nowy produkt</a>
				</div>
			</div>
			
			
			
			
			<!-- widget content -->
								
										
										<table id="dt_basic" class="table table-striped table-bordered table-hover">
											<thead>
												<tr>
					<th>L.p.</th>
					<th>Nazwa</th>
					<th>Jednostka miary</th>
					<th>Kategoria</th>
					<th>Akcje</th>
				</tr>
											</thead>
											<tbody>
												{% for row in _table.product.list %}
				<th>{{ loop.index }}</th>
				<td><a href="/module/product_technology/product/view/{{ row.id_products }}">{{ row.products_name }}</a></td>
				<td>{{ row.symbol }}</td>
				<td>{{ row.category_name }}</td>
				<td>
					<button class="btn btn-danger" data-toggle="modal" data-target=".bs-example-modal-sm-{{ row.id_products }}">Usuń</button> <a href="" class="btn btn-default">Zmień</a>
					<div class="modal fade bs-example-modal-sm-{{ row.id_products }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">Potwierdź usunięcie informacji o produkcie</h4>
								</div>
								<div class="modal-body">...</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
									<a href="/module/product_technology/product/delete/{{ row.id_products }}" type="button" class="btn btn-danger">Usuń</a>
								</div>
							</div>
						</div>
					</div>
				</td>
				</tr>
				{% endfor %}
											</tbody>
										</table>
				
									
			
			
			
			
			<table class="table table-bordered">
				<tr>
					<th>L.p.</th>
					<th>Nazwa</th>
					<th>Jednostka miary</th>
					<th>Kategoria</th>
					<th>Akcje</th>
				</tr>
				{% for row in _table.product.list %}
				<th>{{ loop.index }}</th>
				<td><a href="/module/product_technology/product/view/{{ row.id_products }}">{{ row.products_name }}</a></td>
				<td>{{ row.symbol }}</td>
				<td>{{ row.category_name }}</td>
				<td>
					<button class="btn btn-danger" data-toggle="modal" data-target=".bs-example-modal-sm-{{ row.id_products }}">Usuń</button> <a href="" class="btn btn-default">Zmień</a>
					<div class="modal fade bs-example-modal-sm-{{ row.id_products }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">Potwierdź usunięcie informacji o produkcie</h4>
								</div>
								<div class="modal-body">...</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
									<a href="/module/product_technology/product/delete/{{ row.id_products }}" type="button" class="btn btn-danger">Usuń</a>
								</div>
							</div>
						</div>
					</div>
				</td>
				</tr>
				{% endfor %}
			</table>
			<div class="panel-footer">
				<ul class="pagination">
					<li><a href="#">&laquo;</a></li> {% for pager in _table.product.pager %}
					<li><a href="/module/product_technology/product/page/{{ pager.page }}/{{ pager.limit }}">{{ pager.page }}</a></li> {% endfor %}
					<li><a href="#">&raquo;</a></li>
				</ul>
			</div>
		</div>
		{% elseif _parameters.1 == 'add' %}
		<div class="panel panel-default">
			<div class="panel-heading">Dodawanie nowego produktu</div>
			<div class="panel-body">
				{% if _parameters.2 == '1' %}
				<p>Aby dodać do systemu nowy produkt, w pierwszym kroku wprowadź jego unikalny numer identyfikacyjny:</p>
				{% if _table.product.add.error == 'idIsExists' %}
				<div class="alert alert-warning">
					{% for row in _table.product.add.value.numer %}
					<h4>Uwaga!</h4>
					<p>
						Produkt o identyfikatorze <strong>{{ row.products_name }}</strong> znajduje się już w bazie danych.
					</p>
					<p>
						Możesz zobaczyć szczegóły dotyczące tego produktu <a class="alert-link" href="/module/product_technology/product/view/{{ row.id_products }}">tutaj</a>.
					</p>
					{% endfor %}
				</div>
				{% elseif _table.product.add.error == 'emptyValueName' %}
				<div class="alert alert-danger">
					<h4>Nic nie wpisano</h4>
					<p>Aby prawidłowo dodać produkt do bazy danych należy wprowadzić jego numer identyfikacyjny.</p>
				</div>
				{% endif %}
				<form role="form" method="post" action="/module/product_technology/product/_add/1">
					<div class="input-group">
						<input type="text" class="form-control" id="number" placeholder="Wprowadź numer" name="number"> <span class="input-group-btn" required autofocus>
							<button class="btn btn-default" type="submit">Dodaj</button>
						</span>
					</div>
				</form>
				{% elseif _parameters.2 == '2' %}
				<p>Aby kontynuować proces dodania produktu do bazy danych, proszę uzupełnić poniższe informacje.</p>
				<form role="form" method="post" action="/module/product_technology/product/_add/2">
					<div class="row">
						<div class="col-md-3">
							<h4>Jednostka miary:</h4>
							<select class="form-control" name="units_id_units">
								<option>--</option> {% for row in _table.product.add.value.units %}
								<option>{{ row.name }}</option> {% endfor %}
							</select>
						</div>
						<div class="col-md-3">
							<h4>Kategoria produktu:</h4>
							<select class="form-control" name="category_product">
								<option>--</option> {% for row in _table.product.add.value.category %}
								<option>{{ row.category_name }}</option> {% endfor %}
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<button class="btn btn-primary btn btn-block" type="submit">Dodaj</button>
						</div>
					</div>
				</form>
				{% elseif _parameters.2 == '3' %}
				<p>Można już to podsumować...</p>
				<div class="alert alert-info">
					<p>Wyświetlić ładnie dane przed akceptacją dodania do bazy</p>
				</div>
				<ul>
					<li>{{ _table.product.add.value.number }}</li>
					<li>{{ _table.product.add.select.units }}</li>
					<li>{{ _table.product.add.select.category }}</li>
				</ul>
				<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-md">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">Czy na pewno chcesz porzucić wprowadzone informacje?</h4>
							</div>
							<div class="modal-body">
								<p>
									Wybierająć przycisk <em>Odrzuć zmiany</em> spowodujesz nieodwracalne skasowanie danych, jakie wprowadziłeś w poprzednich krokach.
								</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
								<a href="/module/product_technology/product/_add/4" type="button" class="btn btn-danger">Odrzuć zmiany</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-8">
						<button class="btn btn-danger btn-block" data-toggle="modal" data-target=".bs-example-modal-sm" role="button">
							Odrzuć <span class="glyphicon glyphicon-remove"></span>
						</button>
					</div>
					<div class="col-md-2">
						<a class="btn btn-success btn-block" href="/module/product_technology/product/_add/5" role="button">Dodaj <span class="glyphicon glyphicon-ok"></span>
						</a>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		{% elseif _parameters.1 == 'view' and _parameters.2 != '' %} {% set view = _table.product.view.0 %}
		<div class="panel panel-default">
			<div class="panel-heading">
				Informacje o produkcie <strong>{{ view.products_name }}</strong>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-bordered">
						<tr>
							<th>nazwa</th>
							<th colspan="2">specyfikacja</th>
							<th>coś tu się wsadzi <!-- serio. można znaleźć jakąś informację. ja póki co nie mam pomysłu --></th>
						</tr>
						<tr>
							<td>485729</td>
							<td>Parametr 1</td>
							<td>Wartość parametru</td>
							<td>@up <!-- czyli jakaś potencjalnie przydatna informacja --></td>
						</tr>
					</table>
					<div>
						<p>{{ view.id_products }}</p>
						<p>{{ view.products_name }}</p>
						<p>{{ view.units_id_units }}</p>
						<p>{{ view.id_units }}</p>
						<p>{{ view.name }}</p>
						<p>{{ view.symbol }}</p>
						<p>{{ view.category_id_category }}</p>
						<p>{{ view.product_id_product }}</p>
						<p>{{ view.id_category }}</p>
						<p>{{ view.category_name }}</p>
						<p>{{ view.category_param1 }}</p>
						<p>{{ view.category_param2 }}</p>
						<p>{{ view.category_param3 }}</p>
						<p>{{ view.category_param4 }}</p>
						<p>{{ view.category_param5 }}</p>
					</div>
				</div>
			</div>
			<ul class="list-group">
				<li class="list-group-item"><p>nisl nec, tempor elit. Aliquam erat volutpat. Vivamus ac ornare nunc. Ut vestibulum sem a accumsan vehicula. Vestibulum nec ultenean et nunc pulvinar, ornare nisl nec, tempor elit. Aliquam erat vol</p></li>
				<li class="list-group-item list-group-item-header"><span>Kontrola jakości</span></li>
				<li class="list-group-item">
					<div class="container-fluid">
						<div class="row">
							<div class="alert alert-success">
								<h4>Arkusz jest poprawny</h4>
								<p>Wszystko zostało wykonane poprawnie. Arkusz nie zawiera błędów i jest kompletny.</p>
							</div>
							<div class="alert alert-warning">
								<h4>Istniejący arkusz kontroli jakości jest niekompletny lub nieaktualny</h4>
								<p>Należy poprawić istniejące błędy lub uzupełnić braki. W przypadku nieaktualnego arkusza, należy poprawić dane na zgodne ze stanem faktycznym.</p>
								<a href="#" class="btn btn-warning">format</a>
							</div>
							<div class="alert alert-danger">
								<h4>Brak arkusza kontroli jakości</h4>
								<p>Arkusz nie istnieje. W celu utworzenia arkusza, należy kliknąć w poniższy przycisk.</p>
								<a href="/module/quality_management/add" class="btn btn-danger">Tworzenie arkusza</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-6">
							<div class="panel panel-success">
								<div class="panel-heading">Ostatnio wykonane badania</div>
								<div class="panel-body">
									<p>Tutaj znajdą się informacje o wykonanych ostatnio badaniach jakości.</p>
								</div>
								<table class="table table-condensed table-hover">
									<tr>
										<th>L.p.</th>
										<th>Data wykonania</th>
										<th>Pracownik</th>
										<th>Nr wysyłki</th>
										<th>Nr skrzyni</th>
									</tr>
									<tbody>
										{% for row in _table.packages.list %}
										<tr>
											<td>{{ loop.index }}</td>
											<td><a href="{{ row.id_packages }}">{{ row.packages_number }}</a></td>
											<td>{{ row.id_packages }}</td>
											<td>{{ row.id_packages }}</td>
											<td>{{ row.type_of_packages_id_type_of_packages }}</td>
											<td>{{ row.warehouse_id_warehouse }}</td>
											<td>{{ row.packages_number }}</td>
											<td>{{ row.id_type_of_packages }}</td>
											<td>{{ row.name }}</td>
											<td>{{ row.id_warehouse }}</td>
											<td>{{ row.type_of_warehouse_id_type_of_warehouse }}</td>
											<td>{{ row.id_type_of_warehouse }}</td>
											<td>{{ row.type_of_warehouse_name }}</td>
											<td>{{ row.type_of_warehouse_desc }}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-6">
							<div class="row">
								<div class="col-sm-12 col-md-6 col-lg-6">
									<div class="panel panel-warning">
										<div class="panel-heading">Partie produktu z niekompletnym badaniem</div>
										<div class="panel-body">
											<p>Tutaj znajdą się informacje o produktach, które mają rozpoczęte badania, ale nie zostały ukończone lub poprawnie zamnkięte.</p>
										</div>
										<table class="table table-condensed table-hover">
											<tr>
												<th>L.p.</th>
												<th>Nr wysyłki</th>
												<th>Nr skrzyni</th>
												<th>Magazyn</th>
											</tr>
											<tbody>
												{% for row in _table.packages.list %}
												<tr>
													<td>{{ loop.index }}</td>
													<td><a href="{{ row.id_packages }}">{{ row.packages_number }}</a></td>
													<td>{{ row.id_packages }}</td>
													<td>{{ row.id_packages }}</td>
													<td>{{ row.type_of_packages_id_type_of_packages }}</td>
													<td>{{ row.warehouse_id_warehouse }}</td>
													<td>{{ row.packages_number }}</td>
													<td>{{ row.id_type_of_packages }}</td>
													<td>{{ row.name }}</td>
													<td>{{ row.id_warehouse }}</td>
													<td>{{ row.type_of_warehouse_id_type_of_warehouse }}</td>
													<td>{{ row.id_type_of_warehouse }}</td>
													<td>{{ row.type_of_warehouse_name }}</td>
													<td>{{ row.type_of_warehouse_desc }}</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
								<div class="col-sm-12 col-md-6 col-lg-6">
									<div class="panel panel-danger">
										<div class="panel-heading">Partie produktu bez przeprowadzonego badania</div>
										<div class="panel-body">
											<p>A tutaj znajdą się informacje o produktach (lub ich partiach), które nie mają nawet rozpoczętego badania kontroli jakości.</p>
										</div>
										<table class="table table-condensed table-hover">
											<tr>
												<th>L.p.</th>
												<th>Nr wysyłki</th>
												<th>Nr skrzyni</th>
												<th>Magazyn</th>
											</tr>
											<tbody>
												{% for row in _table.packages.list %}
												<tr>
													<td>{{ loop.index }}</td>
													<td><a href="{{ row.id_packages }}">{{ row.packages_number }}</a></td>
													<td>{{ row.id_packages }}</td>
													<td>{{ row.id_packages }}</td>
													<td>{{ row.type_of_packages_id_type_of_packages }}</td>
													<td>{{ row.warehouse_id_warehouse }}</td>
													<td>{{ row.packages_number }}</td>
													<td>{{ row.id_type_of_packages }}</td>
													<td>{{ row.name }}</td>
													<td>{{ row.id_warehouse }}</td>
													<td>{{ row.type_of_warehouse_id_type_of_warehouse }}</td>
													<td>{{ row.id_type_of_warehouse }}</td>
													<td>{{ row.type_of_warehouse_name }}</td>
													<td>{{ row.type_of_warehouse_desc }}</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="list-group-item list-group-item-header"><span>Technologia</span></li>
				<li class="list-group-item">
					<table class="table table-bordered table-hover">
						<tr>
							<th>L.p.</th>
							<th>Nazwa</th>
							<th>Dział</th>
							<th>Numer technologii</th>
							<th>Data wdrożenia</th>
							<th>Stanowisko</th>
							<th>Technolog</th>
							<th>Sprawdzający</th>
						</tr>
						<tr>
							<td>1</td>
							<td><a href="/module/product_technology/view/1"></a></td>
							<td></td>
							<td></td>
							<td><a href="#">2000-01-01 12:00:00</a></td>
							<td></td>
							<td>Imperdiet Kowalski</td>
							<td>Jan Bibendum</td>
						</tr>
						<tr>
							<td>2</td>
							<td><a href="/module/product_technology/view/2">651232</a></td>
							<td>produkcja</td>
							<td>23</td>
							<td></td>
							<td></td>
							<td>Imperdiet Kowalski</td>
							<td>Jan Bibendum</td>
						</tr>
						<tr>
							<td>3</td>
							<td><a href="/module/product_technology/view/3">123512</a></td>
							<td>produkcja</td>
							<td>14</td>
							<td></td>
							<td></td>
							<td>Imperdiet Kowalski</td>
							<td>Jan Bibendum</td>
						</tr>
						<tr>
							<td>4</td>
							<td><a href="/module/product_technology/view/4">900212</a></td>
							<td>produkcja</td>
							<td>13</td>
							<td></td>
							<td></td>
							<td>Imperdiet Kowalski</td>
							<td>Jan Bibendum</td>
						</tr>
						<tr>
							<td>5</td>
							<td><a href="/module/product_technology/view/5">587212</a></td>
							<td>produkcja</td>
							<td>11</td>
							<td></td>
							<td></td>
							<td>Imperdiet Kowalski</td>
							<td>Jan Bibendum</td>
						</tr>
						</tbody>
					</table>
		</div>
		<div class="col-md-4">
			<table class="table table-bordered table-hover">
				</tbody>
			</table>
		</div>
		</ul>
		<div class="panel-footer">Nunc luctus, lacus id aliquet bibendum, nunc mauris imperdiet urna</div>
	</div>
	{% elseif _parameters.1 == 'search' %}
	<h3>Wpisano w pole szukania:</h3>
	<p>{{ _table.product.search }}</p>
	{% if _table.product.listSearch != '' %}
	<table class="table table-bordered">
		{% for row in _table.product.listSearch %}
		<tr>
			<th>{{ loop.index }}</th>
			<td><a href="/module/product_technology/product/view/{{ row.id_products }}">{{ row.products_name }}</a></td>
			<td>{{ row.units_id_units_primary }}</td>
			<td>{{ row.units_id_units_secondary }}</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p>Nie znaleziono wyników</p>
	{% endif %} {% endif %} {% elseif _parameters.0 == 'technology' %}
	<div class="container-liquid">
		<div class="panel panel-default">
			<div class="panel-heading">
				<p>Nunc luctus, lacus id aliquet bibendum, nunc mauris imperdiet urna</p>
			</div>
			<div class="panel-body">
				<p>Aenean et nunc pulvinar, ornare nisl nec, tempor elit. Aliquam erat volutpat. Vivamus ac ornare nunc. Ut vestibulum sem a accumsan vehicula. Vestibulum nec ultrices mi, ut rutrum elit. Nunc cursus ultricies commodo.</p>
			</div>
			<table class="table-responsive table table-bordered">
				<tr>
					<th>L.p.</th>
					<th>Data</th>
					<th>inne 2</th>
					<th>inne 3</th>
					<th>inne 4</th>
					<th>inne 5</th>
					<th>inne 6</th>
				</tr>
				<tbody>
					<tr>
						<th>1</th>
						<td><a href="#">2000-01-01 12:00:00</a></td>
						<td>1.2</td>
						<td>1.3</td>
						<td>1.1</td>
						<td>1.2</td>
						<td>1.3</td>
					</tr>
					<tr>
						<th>2</th>
						<td><a href="#">2000-01-01 12:00:00</a></td>
						<td>2.2</td>
						<td>2.3</td>
						<td>2.1</td>
						<td>2.2</td>
						<td>2.3</td>
					</tr>
					<tr>
						<th>3</th>
						<td><a href="#">2000-01-01 12:00:00</a></td>
						<td>2.2</td>
						<td>2.3</td>
						<td>2.1</td>
						<td>2.2</td>
						<td>2.3</td>
					</tr>
					<tr>
						<th>4</th>
						<td><a href="#">2000-01-01 12:00:00</a></td>
						<td>2.2</td>
						<td>2.3</td>
						<td>2.1</td>
						<td>2.2</td>
						<td>2.3</td>
					</tr>
					<tr>
						<th>5</th>
						<td><a href="#">2000-01-01 12:00:00</a></td>
						<td>2.2</td>
						<td>2.3</td>
						<td>2.1</td>
						<td>2.2</td>
						<td>2.3</td>
					</tr>
					<tr>
						<th>6</th>
						<td><a href="#">2000-01-01 12:00:00</a></td>
						<td>2.2</td>
						<td>2.3</td>
						<td>2.1</td>
						<td>2.2</td>
						<td>2.3</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	{% else %}
	<div class="list-group">
		<a href="/module/product_technology/product" class="list-group-item">Produkt <span class="badge pull-right">14</span>
		</a> <a href="/module/product_technology/technology" class="list-group-item">Technologia <span class="badge pull-right">23</span>
		</a>
	</div>
	{% endif %}