@CHARSET "UTF-8";

.btn,.form-control,.panel,.dropdown-menu,.input-group-addon,.pagination,.modal-content
	{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

breadcrumb {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 0px;
	margin-top: -10px;
	margin-left: 0px;
}